<?xml version="1.0" encoding="UTF-8"?>
<robot
    xmlns:xacro="http://ros.org/wiki/xacro"
    name="mgs1600gy">

  <xacro:property
      name="MGS1600GY_BODY_LINK"
      value="mgs1600gy_description/meshes/body.stl" />
  <xacro:macro
      name="mgs1600gy"
      params="parent prefix is_gazebo:=False flip:=False *origin">

    <!-- Links -->
    <link name="${prefix}mgs1600gy_link">
      <inertial>
        <origin
            xyz="-1.718E-03 -1.635E-03 13.993E-03"
            rpy="0 0 0" />
        <mass value="3.75E-02" />
        <inertia
            ixx="8.56E-05"
            ixy="-1.25E-07"
            ixz="4.65E-07"
            iyy="7.79E-06"
            iyz="5.94E-07"
            izz="8.56E-05" />
      </inertial>
      <visual>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mgs1600gy_description/meshes/body.dae" />
        </geometry>
      </visual>
      <collision>
        <origin
            xyz="0 0 0.0125"
            rpy="0 0 0" />
        <geometry>
          <box size="0.03 0.165 0.025" />
        </geometry>
      </collision>
    </link>

    <!-- Joints -->
    <joint
        name="${prefix}mgs1600gy_joint"
        type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}mgs1600gy_link" />
      <xacro:insert_block name="origin" />
    </joint>

    <!-- Gazebo -->
    <xacro:if value="${is_gazebo}">
      <link name="${prefix}mgs1600gy_sensor_link">
        <inertial>
          <origin
              xyz="0 0 0"
              rpy="0 0 0" />
          <mass value="0.0" />
          <inertia
              ixx="0"
              ixy="0"
              ixz="0"
              iyy="0"
              iyz="0"
              izz="0" />
        </inertial>
      </link>
      <joint
          name="${prefix}mgs1600gy_sensor_joint"
          type="fixed">
        <parent link="${prefix}mgs1600gy_link" />
        <child link="${prefix}mgs1600gy_sensor_link" />
        <xacro:if value="${flip}">
          <origin
              xyz="0 0 ${180.0 * const.SCALE_MM}"
              rpy="0 ${const.TO_RADIAN * 90.0} ${180.0 * const.TO_RADIAN}" />
        </xacro:if>
        <xacro:unless value="${flip}">
          <origin
              xyz="0 0 ${180.0 * const.SCALE_MM}"
              rpy="0 ${const.TO_RADIAN * 90.0} 0" />
        </xacro:unless>
      </joint>
      <!-- 
      <gazebo reference="${prefix}mgs1600gy_sensor_link">
        <sensor
            type="camera"
            name="${prefix}mgs1600gy">
          <update_rate>10.0</update_rate>
          <always_on>true</always_on>
          <visualize>true</visualize>
          <camera name="head">
            <image>
              <width>160</width>
              <height>1</height>
              <format>L8</format>
            </image>
            <clip>
              <near>0.19</near>
              <far>300</far>
            </clip>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.001</stddev>
            </noise>
          </camera>
      <plugin
          name="camera_controller"
          filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <camera_name>${prefix}mgs1600gy</camera_name>
        <frame_name>${prefix}mgs1600gy_link</frame_name>
      </plugin>
      </sensor>
      </gazebo>
      -->
    </xacro:if>
  </xacro:macro>
</robot>