<?xml version="1.0" encoding="UTF-8"?>
<robot
    xmlns:xacro="http://ros.org/wiki/xacro"
    name="mgs1600gy">
  <!-- constants -->
  <xacro:include
      filename="$(find mgs1600gy_description)/urdf/common/constants.xacro"
      ns="const" />


  <xacro:macro
      name="mgs1600gy"
      params="parent prefix use_nominal_extrinsics:=False *origin">

    <!-- Links -->
    <link name="${prefix}mgs1600gy_link">
      <inertial>
        <origin
            xyz="-1.718E-03 -1.635E-03 13.993E-03"
            rpy="0 0 0" />
        <mass value="3.75E-02" />
        <inertia
            ixx="8.56E-05"
            ixy="-1.25E-07"
            ixz="4.65E-07"
            iyy="7.79E-06"
            iyz="5.94E-07"
            izz="8.56E-05" />
      </inertial>
      <visual>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mgs1600gy_description/meshes/body.dae" />
        </geometry>
      </visual>
      <collision>
        <origin
            xyz="0 0 0.0125"
            rpy="0 0 0" />
        <geometry>
          <box size="0.03 0.165 0.025" />
        </geometry>
      </collision>
    </link>
    <xacro:if value="${use_nominal_extrinsics}">
      <!-- Magnet sensor link -->
      <link name="${prefix}mgs1600gy_magnet_link" />
      <joint
          name="${prefix}mgs1600gy_magnet_joint"
          type="fixed">
        <parent link="${prefix}mgs1600gy_link" />
        <child link="${prefix}mgs1600gy_magnet_link" />
        <origin
            xyz="8.0E-03 0 0"
            rpy="0 0 0" />
      </joint>
    </xacro:if>
    <!-- Joints -->
    <joint
        name="${prefix}mgs1600gy_joint"
        type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}mgs1600gy_link" />
      <xacro:insert_block name="origin" />
    </joint>
  </xacro:macro>
</robot>